<!-- Right panel -->
<div id="right_panel">

    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a href="#poi" role="tab" data-toggle="tab">POI</a>
        </li>
        <li><a href="#itinerary" role="tab" data-toggle="tab">Itinerary</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <!-- poi -->
        <div class="tab-pane active" id="poi">
        </div>

        <!-- itinerary -->
        <div class="tab-pane" id="itinerary">
        </div>
    </div>

</div>