<!-- Right panel -->
<div id="right_panel">

    <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li class="active"><a href="#poi" role="tab" data-toggle="tab">POI</a>
        </li>
        <li><a href="#itinerary" role="tab" data-toggle="tab">Itinerary</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="poi">
            <div class="btn-group-vertical" data-toggle="buttons">
                <label class="btn btn-default">
                    <input class="poiFilter" type="checkbox" value="Village" checked>Communes
                </label>
                <label class="btn btn-default">
                    <input class="poiFilter" type="checkbox" value="Point haut">Points hauts (col, sommets...)
                </label>
            </div>
        </div>
        <div class="tab-pane" id="itinerary">aaaaaaaaaaaaaa</div>
    </div>

</div>