 <br>
 <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <button type="button" class="btn btn-default btn-sm full-width-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      Entre Loire et Ardèche
    </button>      
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">

      <dl class="dl-horizontal">
        <dt>Durée:</dt>
        <dd>3 jours</dd>
        <dt>Distance:</dt>
        <dd>12km - J2 : 19.5km - J3 : 13km</dd>  
        <dt>Dénivelé:</dt>
        <dd>740m - J2 : 730m - J3 : 50m</dd> 
        <dt>Trace:</dt>
        <dd><a href="http://www.openrunner.com/index.php?id=3173665">OpenRunner</a></dd>     
      </dl> 
        <p>        
          De la capitale stéphanoise et sa douce plaine au Vivarais et ses monts déjà ardéchois!<br> 
          Traversée des Grands Bois du Pilat et découverte de la vallée de la Drôme.
        </p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <button type="button" class="btn btn-default btn-sm full-width-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
      Collapse 2
    </button>    
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <button type="button" class="btn btn-default btn-sm full-width-button collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      Collapse 3
    </button> 
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>