<br>
<div id="poiListLabel" class="btn-group-vertical full-width-button" data-toggle="buttons">
    <label class="btn btn-default btn-sm">
        <input class="poiFilter" type="checkbox" value="Village" checked>Communes
    </label>
    <label class="btn btn-default btn-sm">
        <input class="poiFilter" type="checkbox" value="Point haut">Points hauts (col, sommets...)
    </label>
</div>